<h2>Preencha corretamente o formulário.</h2>
<form>
  <label for="name">nome:</label>
  <br />
  <input type="text" id="name" name="name" [(ngModel)]="person.name" />
  <br />
  <label for="email">Email:</label>
  <br />
  <input type="email" id="email" name="email" [(ngModel)]="person.email" />

  <label for="idade">idade:</label>
  <br />
  <input type="text" id="idade" name="idade" [(ngModel)]="person.age" />
  <br />
  <Button (click)="savePersonInfo()"> Salvar informações. </Button>
</form>
<h3>Mostrando as Pessoas</h3>
<ul>
  <li *ngFor="person; of: personList">
    <p>Nome :{{ person.name }}</p>
    <p>Email: {{ person.email }}</p>
    <p>idade: {{ person.age }}</p>
  </li>
</ul>
